th.text-left {
    font-size: larger;
    font-weight: normal;
    padding: 20px;
}

tr.border-b:hover{
    cursor: pointer;
    opacity: 60%;
}

.table-container {
    width: 60%; 
    display: flex;
    justify-content: center;
    margin-bottom: 20px; 
    margin-left: auto;
    margin-right: auto;
}

.table-container table {
    width: 60%; 
    table-layout: fixed; 
}

.table-container th, .table-container td {
    text-align: center; 
    padding: 10px;
}


.table-container td img {
    display: block;
    margin: 0 auto;
}

.table-container th.text-left {
    font-size: larger;
    font-weight: normal;
    padding: 10px;
}

tr.border-b:hover {
    cursor: pointer;
    opacity: 60%;
}

.table-container td {
    padding: 5px 10px; 
}

.table-container th, .table-container td {
    text-align: center; 
}


.table-container td img {
    display: block;
    margin: 0 auto; 
}

.table-container .score-cell {
    padding: 0px;
}