@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
  background-color: #282828;
  color: white;
}
.App {
  text-align: center;
}

body{
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.home-div{
  padding: 5px;
  margin-top: 20px;
}

@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed; 
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background: #282828;
  overflow: hidden;
}


.background span {
  width: 20vmin;
  height: 20vmin;
  border-radius: 20vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 37s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  z-index: -1; 
}


@keyframes move {
  100% {
      transform: translate3d(0, 0, 1px) rotate(360deg);
  }
}

.background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background: #282828;
  overflow: hidden;
}

.background span {
  width: 33vmin;
  height: 33vmin;
  border-radius: 33vmin;
  backface-visibility: hidden;
  position: absolute;
  animation: move;
  animation-duration: 21;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


.background span:nth-child(0) {
  color: #212f3c;
  top: 82%;
  left: 29%;
  animation-duration: 78s;
  animation-delay: -56s;
  transform-origin: 11vw -2vh;
  box-shadow: -66vmin 0 8.870036882379754vmin currentColor;
}
.background span:nth-child(1) {
  color: #212e3c;
  top: 6%;
  left: 79%;
  animation-duration: 203s;
  animation-delay: -192s;
  transform-origin: -2vw -11vh;
  box-shadow: 66vmin 0 8.558500586535787vmin currentColor;
}
.background span:nth-child(2) {
  color: #212f3c;
  top: 96%;
  left: 10%;
  animation-duration: 65s;
  animation-delay: -107s;
  transform-origin: -21vw -17vh;
  box-shadow: -66vmin 0 8.804241980029085vmin currentColor;
}
.background span:nth-child(3) {
  color: #212f3c;
  top: 12%;
  left: 66%;
  animation-duration: 201s;
  animation-delay: -113s;
  transform-origin: -22vw -1vh;
  box-shadow: 66vmin 0 8.993904562899994vmin currentColor;
}
.background span:nth-child(4) {
  color: #212f3c;
  top: 26%;
  left: 73%;
  animation-duration: 135s;
  animation-delay: -18s;
  transform-origin: 20vw 23vh;
  box-shadow: -66vmin 0 8.828642907460113vmin currentColor;
}
.background span:nth-child(5) {
  color: #212e3c;
  top: 72%;
  left: 47%;
  animation-duration: 174s;
  animation-delay: -155s;
  transform-origin: 5vw 6vh;
  box-shadow: 66vmin 0 8.420369524256984vmin currentColor;
}
.background span:nth-child(6) {
  color: #212e3c;
  top: 42%;
  left: 35%;
  animation-duration: 278s;
  animation-delay: -112s;
  transform-origin: -22vw 4vh;
  box-shadow: -66vmin 0 9.125286518086742vmin currentColor;
}
.background span:nth-child(7) {
  color: #212f3c;
  top: 52%;
  left: 75%;
  animation-duration: 33s;
  animation-delay: -247s;
  transform-origin: -24vw 23vh;
  box-shadow: 66vmin 0 9.176409020771466vmin currentColor;
}
.background span:nth-child(8) {
  color: #212e3c;
  top: 66%;
  left: 3%;
  animation-duration: 37s;
  animation-delay: -253s;
  transform-origin: -11vw -8vh;
  box-shadow: 66vmin 0 8.577064307927865vmin currentColor;
}
.background span:nth-child(9) {
  color: #212f3c;
  top: 75%;
  left: 56%;
  animation-duration: 168s;
  animation-delay: -280s;
  transform-origin: -13vw 2vh;
  box-shadow: -66vmin 0 8.939101936374314vmin currentColor;
}
.background span:nth-child(10) {
  color: #212e3c;
  top: 70%;
  left: 58%;
  animation-duration: 179s;
  animation-delay: -266s;
  transform-origin: 3vw -6vh;
  box-shadow: -66vmin 0 8.45401810097496vmin currentColor;
}
.background span:nth-child(11) {
  color: #212f3c;
  top: 66%;
  left: 32%;
  animation-duration: 278s;
  animation-delay: -76s;
  transform-origin: 12vw -21vh;
  box-shadow: -66vmin 0 9.221815028514401vmin currentColor;
}
.background span:nth-child(12) {
  color: #212f3c;
  top: 14%;
  left: 57%;
  animation-duration: 172s;
  animation-delay: -176s;
  transform-origin: -3vw 1vh;
  box-shadow: -66vmin 0 8.694773745386396vmin currentColor;
}
.background span:nth-child(13) {
  color: #212e3c;
  top: 25%;
  left: 16%;
  animation-duration: 122s;
  animation-delay: -54s;
  transform-origin: -13vw -11vh;
  box-shadow: -66vmin 0 8.641832363814524vmin currentColor;
}
.background span:nth-child(14) {
  color: #212f3c;
  top: 73%;
  left: 35%;
  animation-duration: 170s;
  animation-delay: -71s;
  transform-origin: 13vw -5vh;
  box-shadow: 66vmin 0 8.579417530774595vmin currentColor;
}
.background span:nth-child(15) {
  color: #212e3c;
  top: 97%;
  left: 26%;
  animation-duration: 250s;
  animation-delay: -117s;
  transform-origin: -6vw -13vh;
  box-shadow: -66vmin 0 8.357402263657486vmin currentColor;
}
.background span:nth-child(16) {
  color: #212f3c;
  top: 31%;
  left: 58%;
  animation-duration: 18s;
  animation-delay: -91s;
  transform-origin: -8vw 9vh;
  box-shadow: -66vmin 0 8.95911113047141vmin currentColor;
}
.background span:nth-child(17) {
  color: #212e3c;
  top: 41%;
  left: 63%;
  animation-duration: 209s;
  animation-delay: -140s;
  transform-origin: -11vw 13vh;
  box-shadow: 66vmin 0 8.406453927450563vmin currentColor;
}
.background span:nth-child(18) {
  color: #212e3c;
  top: 6%;
  left: 86%;
  animation-duration: 20s;
  animation-delay: -213s;
  transform-origin: -6vw -7vh;
  box-shadow: -66vmin 0 9.050092674451939vmin currentColor;
}
.background span:nth-child(19) {
  color: #212f3c;
  top: 43%;
  left: 36%;
  animation-duration: 27s;
  animation-delay: -220s;
  transform-origin: 15vw 18vh;
  box-shadow: -66vmin 0 8.513591447535923vmin currentColor;
}
.background span:nth-child(20) {
  color: #212f3c;
  top: 39%;
  left: 10%;
  animation-duration: 281s;
  animation-delay: -47s;
  transform-origin: -4vw -9vh;
  box-shadow: 66vmin 0 8.951690378516172vmin currentColor;
}
.background span:nth-child(21) {
  color: #212e3c;
  top: 77%;
  left: 27%;
  animation-duration: 128s;
  animation-delay: -102s;
  transform-origin: 6vw -23vh;
  box-shadow: 66vmin 0 8.409768544503304vmin currentColor;
}
.background span:nth-child(22) {
  color: #212f3c;
  top: 27%;
  left: 16%;
  animation-duration: 113s;
  animation-delay: -134s;
  transform-origin: 23vw 21vh;
  box-shadow: 66vmin 0 9.107587073365059vmin currentColor;
}
.background span:nth-child(23) {
  color: #212e3c;
  top: 93%;
  left: 29%;
  animation-duration: 20s;
  animation-delay: -108s;
  transform-origin: 9vw -18vh;
  box-shadow: -66vmin 0 8.828339114696217vmin currentColor;
}
.background span:nth-child(24) {
  color: #212e3c;
  top: 61%;
  left: 88%;
  animation-duration: 261s;
  animation-delay: -282s;
  transform-origin: 23vw -13vh;
  box-shadow: -66vmin 0 8.609737585932516vmin currentColor;
}
